body {
    background:rosybrown;
  }
  header img {
    width: 100px;
    background:none;

  }
  
  header nav {
    float: right;
  }
  
  header nav ul {
    list-style: none;
  }
  
  header nav ul li {
    float: right;
    padding: 10px;
  }
  
  main img {
    width: 100%;
  }
  
  main h1 {
    text-align: center;
    color: #222;
  }
  
  main p {
    line-height: 1.5;
   
  }
  
  

  main section p:nth-child(1) {
    background-color: #cee5d0;
  }
  
  main section p:nth-child(2) {
    background-color: #f3f0d7;
  }
  
  main section p:nth-child(3) {
    background-color: #d8b384;
  }
  
  main section p:nth-child(4) {
    background-color: #5e454b;
  }

  footer {
    text-align: center;
    background: #222;
    color: #fff;
    line-height: 50px
  }